<footer>
    <hr style="margin-top:10px; margin-bottom:10px;" />
    <p class="text-center">All the contents of this Website are protected by Copyright Laws and International Trade Agreements.<br />&copy; @DateTime.Now.Year -  Asia Vista Technology, Inc. All rights reserved.</p>
</footer>